@using CustomAuthentication2.Security
@if (SessionPersister.Username != null)
{

    if (SessionPersister.Username.Length > 0)
    {
        <ul class="nav navbar-nav navbar-right">    
            <li class="dropdown">@*this has a dedicated style property that is below this page*@

                @Html.ActionLink("Hello " + SessionPersister.Username , "", "", routeValues:null, htmlAttributes: new { title = "Manage" })
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Profile", "EditAccount", "Account", routeValues: new { username = SessionPersister.Username }, htmlAttributes: new { title = "Manage Profile", target = "_blank" })</li>
                    <li>@Html.ActionLink("My Posts", "Index", "Posts", routeValues: new { id = SessionPersister.Username ,userlevel="user"}, htmlAttributes: new { title = "Manage Posts", target = "_blank" })</li>
                </ul>
            </li>

            <li><a href="@Url.Action("Logout","Account")">Logout</a></li>

        </ul>
    }



}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
</style>